<p><a href='{{ back_link }}'>Back</a></p>

{{^parentId}}
  <h3>Create New Project</h3>
{{/parentId}}

{{#parentId}}
<h3>Create New {{#lambdas.capitalize}} {{ kind_string }} {{/lambdas.capitalize}}</h3>
{{/parentId}}

  <div class='container'>
  <form action='{{ action }}' method='post'>
    <p>
      <label for='name'>Name:</label><br>
      <input name='name' type='text'/>
    <p/>
    <p><input type='submit' name='submit' value='Submit' /></p>

    <input type='hidden' name='kind' value='{{kind}}'>
    {{#parentId}}
      <input type='hidden' name='parentId' value='{{parentId}}'>
    {{/parentId}}
  </form>
</div>

{{#yield-additional_scripts}}
  <script>
    $(document).ready(function() {
        $('input[name="name"]').focus();
    });
  </script>
{{/yield-additional_scripts}}
