<div id='item-container'>

  {{# back_link }}
    <div class='back-link-container'>
      <p><a href='{{ back_link }}'>
        {{#item}}
          {{#hasParent}}Up one level{{/hasParent}}
          {{^hasParent}}Project list{{/hasParent}}
        {{/item}}
      </a></p>
    </div>
  {{/ back_link }}

  <h2 class='project-name'>{{ project_name }}</h2>

  <div class='item-header'>
    {{#item}}{{#hasParent}}
      <div class='item-name-container'>
        <h4 class='item-name'>{{ name }}</h4>
      </div>
    {{/hasParent}}{{/item}}

    {{#item}}
      <div class='item-actions-container pull-right'>
        <div class='action-link-container item-action'>
          <a href='/items/{{ item._id }}/edit'>
            <button class='btn btn-default btn-xs'>
              <span class='glyphicon glyphicon-pencil new-item-link-icon'></span>
              <span class='new-item-link-text'>Edit</span>
            </button>
          </a>
        </div>

        {{#isFolder}}
          <div class='action-link-container item-action'>
            <a href='/items/new?parentId={{ item._id }}&kind=folder'>
              <button class='btn btn-default btn-xs'>
                <span class='glyphicon glyphicon-folder-open new-item-link-icon'></span>
                <span class='new-item-link-text'>New Folder</span>
              </button>
            </a>
          </div>

          <div class='action-link-container item-action'>
            <a href='/items/new?parentId={{ item._id }}&kind=file'>
              <button class='btn btn-default btn-xs'>
                <span class='glyphicon glyphicon-file new-item-link-icon'></span>
                <span class='new-item-link-text'>New File</span>
              </button>
            </a>
          </div>
        {{/isFolder}}
      </div>
    {{/item}}
  </div>

  {{# hasChildren }}
    <table class='table table-striped table-bordered child-item-table'>
      <thead>
        <td></td>
        <td class='text-center'>Name</td>
        <td class='text-center'>Updated At</td>
      </thead>

      <tbody id='child-row-container'>
        {{#childItems}}
          <tr>
            <td class='text-center'>
              {{#isFolder}}<span class="glyphicon glyphicon-folder-open"></span>{{/isFolder}}
              {{#isFile}}<span class="glyphicon glyphicon-file"></span> {{/isFile}}
            </td>

            <td><a href='/items/{{ _id }}'>{{ name }}</a></td>
            <td class='text-center'>{{ updated_at_relative }}</td>
          </tr>
        {{/childItems}}
      </tbody>
    </table>
  {{/hasChildren}}

  {{#item}}{{#isFile}}
    <div class='container file-contents-container'>
      <textarea name='contents' class='file-contents' rows='5' readonly='true' placeholder='No file contents...'></textarea>
    </div>
    <br>
  {{/isFile}}{{/item}}

  {{#item}}
    <div class='container'>
      <form action='/items/{{ item._id }}/delete' method='post' class='delete-form'>
        <button type='submit' value='submit' class='btn btn-danger btn-xs'>
          <span class='glyphicon glyphicon-remove new-item-link-icon'></span>
          <span class='btn-text'>Delete {{#lambdas.capitalize}}{{ item.kind_string }}{{/lambdas.capitalize}}</span>
        </button>
      </form>
    </div>
  {{/item}}

  {{#isRoot}}
    <p class='new-project-link'><a href='/projects/new'>Create new project</a></p>
  {{/isRoot}}

</div>
